/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// LAYER DEFINITIONS //
#define BASE   0
#define BUTTON 1
#define NAV    2
#define MOUSE  3
#define MEDIA  4
#define NUM    5
#define SYM    6
#define FUN    7

// CUSTOM KEY DEFINITIONS //
#define U_NP &none // key is not present
#define U_NA &none // present but not available for use
#define U_NU &none // available but not used

#define U_RDO &kp LC(Y) // WINDOWS redo
#define U_PST &kp LC(V) // WINDOWS paste
#define U_CPY &kp LC(C) // WINDOWS copy
#define U_CUT &kp LC(X) // WINDOWS cut
#define U_UND &kp LC(Z) // WINDOWS undo


/*                            KEY POSITIONS

  ╭─────────────-────────-─╮                 ╭────────────────────────╮
  │  0   1   2   3   4   5 │                 │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 ╰───────╮ ╭───────╯ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29  30  31 │ │ 32  33  34  35  36  37  38  39 │
  ╰───────────╮ 40  41  42  43  44 │ │ 45  46  47  48  49 ╭───────────╯
              ╰────────────────────╯ ╰────────────────────╯            */



/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {

			/*                       

			╭──────────────────────────────────────────╮                         ╭──────────────────────────────────────────╮
			│ NONE  Q         W   	 F       P       G │                         │ J  L       U       Y      '         NONE │
			│ NONE  GUI|A     ALT|R  CTRL|S  SHFT|T  D ╰───────────╮ ╭───────────╯ H  SHFT|N  CTRL|E  ALT|I  GUI|O     NONE │
			│ NONE  BUTTON|Z  ALT|X  C       V       B  NONE  NONE │ │ NONE  NONE  K  M       ,       ALT|.  BUTTON|/  NONE │
			╰───────────╮   NONE  FUN|DEL  NUM|BSPC  SYM|RET  NONE │ │ NONE  MOUSE|TAB  NAV|SPC  MEDIA|ESC  NONE ╭──────────╯
						╰──────────────────────────────────────────╯ ╰───────────────────────────────────────────╯            */

			bindings = <
	&none  &kp Q         &kp W       &kp F        &kp P        &kp G                                   						&kp J   	 &kp L          &kp U      &kp Y         &kp SQT           &none
	&none  &hm LGUI A    &hm LALT R  &hm LCTRL S  &hm LSHFT T  &kp D                                   					    &kp H   	 &hm LSHFT N    &LCTRL E   &hm LALT I    &hm LGUI O  	   &none
	&none  &lt BUTTON Z  &hm RALT X  &kp C        &kp V        &kp B         &none        &none       &none  &none          &kp K   	 &kp M          &kp COMMA  &hm RALT DOT  &lt BUTTON SLASH  &none
	                                 &none        &lt FUN DEL  &lt NUM BSPC  &lt SYM RET  &none       &none  &lt MOUSE TAB  &lt NAV SPC  &lt MEDIA ESC  &none
			>;

			
		};
	};
};


/*

#define MIRYOKU_ALTERNATIVES_BASE_COLEMAK_FLIP \

			bindings = <
	&none  &kp Q         &kp W       &kp F        &kp P        &kp G                                   						&kp J   	 &kp L          &kp U      &kp Y         &kp SQT           &none
	&none  &hm LGUI A    &hm LALT R  &hm LCTRL S  &hm LSHFT T  &kp D                                   					    &kp H   	 &hm LSHFT N    &LCTRL E   &hm LALT I    &hm LGUI O  	   &none
	&none  &lt BUTTON Z  &hm RALT X  &kp C        &kp V        &kp B         &none        &none       &none  &none          &kp K   	 &kp M          &kp COMMA  &hm RALT DOT  &lt BUTTON SLASH  &none
	                                 &none        &lt FUN DEL  &lt NUM BSPC  &lt SYM RET  &none       &none  &lt MOUSE TAB  &lt NAV SPC  &lt MEDIA ESC  &none
			>;


&kp Q,             &kp W,             &kp F,             &kp P,             &kp G,             &kp J,             &kp L,             &kp U,             &kp Y,             &kp SQT,           \
&hm LGUI A,        &hm LALT R,        &hm LCTRL S,       &hm LSHFT T,       &kp D,             &kp H,             &hm LSHFT N,       &hm LCTRL E,       &hm LALT I,        &hm LGUI O,        \
&lt BUTTON Z,      &hm RALT X,        &kp C,             &kp V,             &kp B,             &kp K,             &kp M,             &kp COMMA,         &hm RALT DOT,      &lt BUTTON SLASH,  \
U_NP,              U_NP,              &lt FUN DEL,       &lt NUM BSPC,      &lt SYM RET,       &lt MOUSE TAB,     &lt NAV SPC,       &lt MEDIA ESC,     U_NP,              U_NP


#define MIRYOKU_ALTERNATIVES_BUTTON \
U_UND               U_CUT               U_CPY               U_PST               U_RDO               U_RDO               U_PST               U_CPY               U_CUT               U_UND               \
&kp LGUI            &kp LALT            &kp LCTRL           &kp LSHFT           &none               &none               &kp LSHFT           &kp LCTRL           &kp LALT            &kp LGUI            \
U_UND               U_CUT               U_CPY               U_PST               U_RDO               U_RDO               U_PST               U_CPY               U_CUT               U_UND               \
U_NP                U_NP                U_BTN2              U_BTN3              U_BTN1              U_BTN1              U_BTN3              U_BTN2              U_NP,              U_NP



#define MIRYOKU_ALTERNATIVES_NAV_INVERTEDT_FLIP \

// What is bootloader?

			bindings = <
	&none  &kp PG_UP     &kp HOME    &kp UP       &kp END      &kp INS                                 						&none   	 &none          &none      &none         &bootloader       &none
	&none  &hm PG_DN     &hm LEFT    &hm DOWN     &hm RIGHT    &kp CAPS                                					    &none   	 &kp LSHFT      &kp LCTRL  &kp LALT      &kp LGUI   	   &none
	&none  U_UND         U_CUT       U_CPY        U_PST        U_RDO         &none        &none       &none  &none          &none   	 &none          &none      &kp RALT      &none             &none
	                                 &none        &kp DEL      &kp BSPC      &kp RET      &none       &none  &none			&none  		 &none		    &none
			>;

	
&kp PG_UP           &kp HOME            &kp UP              &kp END             &kp INS             U_NA                U_NA                U_NA                U_NA                &bootloader         \
&kp PG_DN           &kp LEFT            &kp DOWN            &kp RIGHT           &kp CAPS            U_NA                &kp LSHFT           &kp LCTRL           &kp LALT            &kp LGUI            \
U_UND               U_CUT               U_CPY               U_PST               U_RDO               U_NA                U_NA                U_NA                &kp RALT            U_NA                \
U_NP                U_NP                &kp DEL             &kp BSPC            &kp RET             U_NA                U_NA                U_NA                U_NP                U_NP



#define MIRYOKU_ALTERNATIVES_MOUSE_INVERTEDT_FLIP \
U_WH_U              U_WH_L              U_MS_U              U_WH_R              U_NU                U_NA                U_NA                U_NA                U_NA                &bootloader         \
U_WH_D              U_MS_L              U_MS_D              U_MS_R              U_NU                U_NA                &kp LSHFT           &kp LCTRL           &kp LALT            &kp LGUI            \
U_UND               U_CUT               U_CPY               U_PST               U_RDO               U_NA                U_NA                U_NA                &kp RALT            U_NA                \
U_NP                U_NP                U_BTN2              U_BTN3              U_BTN1              U_NA                U_NA                U_NA                U_NP                U_NP

#define MIRYOKU_ALTERNATIVES_MEDIA_INVERTEDT_FLIP \
&rgb_ug RGB_SAI     &rgb_ug RGB_HUI     &kp C_VOL_UP        &rgb_ug RGB_EFF     &rgb_ug RGB_TOG     U_NA                U_NA                U_NA                U_NA                &bootloader         \
&rgb_ug RGB_BRI     &kp C_PREV          &kp C_VOL_DN        &kp C_NEXT          &out OUT_TOG        U_NA                &kp LSHFT           &kp LCTRL           &kp LALT            &kp LGUI            \
&bt BT_SEL 0        &bt BT_SEL 1        &bt BT_SEL 2        &bt BT_SEL 3        &bt BT_CLR          U_NA                U_NA                U_NA                &kp RALT            U_NA                \
U_NP                U_NP                &kp C_MUTE          &kp C_PP            &kp C_STOP          U_NA                U_NA                U_NA                U_NP                U_NP


#define MIRYOKU_ALTERNATIVES_NUM_FLIP \
&bootloader         U_NA                U_NA                U_NA                U_NA                &kp LBKT            &kp NUM_7           &kp NUM_8           &kp NUM_9           &kp RBKT            \
&kp LGUI            &kp LALT            &kp LCTRL           &kp LSHFT           U_NA                &kp EQL             &kp NUM_4           &kp NUM_5           &kp NUM_6           &kp SEMI            \
U_NA                &kp RALT            U_NA                U_NA                U_NA                &kp BSLH            &kp NUM_1           &kp NUM_2           &kp NUM_3           &kp GRAVE           \
U_NP                U_NP                U_NA                U_NA                U_NA                &kp MINUS           &kp NUM_0           &kp DOT             U_NP                U_NP

#define MIRYOKU_ALTERNATIVES_SYM_FLIP \
&bootloader         U_NA                U_NA                U_NA                U_NA                &kp LBRC            &kp AMPS            &kp ASTRK           &kp LPAR            &kp RBRC            \
&kp LGUI            &kp LALT            &kp LCTRL           &kp LSHFT           U_NA                &kp PLUS            &kp DLLR            &kp PRCT            &kp CRRT            &kp COLON           \
U_NA                &kp RALT            U_NA                U_NA                U_NA                &kp PIPE            &kp EXCL            &kp AT              &kp HASH            &kp TILDE           \
U_NP                U_NP                U_NA                U_NA                U_NA                &kp UNDER           &kp LPAR            &kp RPAR            U_NP                U_NP

#define MIRYOKU_ALTERNATIVES_FUN_FLIP \
&bootloader         U_NA                U_NA                U_NA                U_NA                &kp PSCRN           &kp F7              &kp F8              &kp F9              &kp F12             \
&kp LGUI            &kp LALT            &kp LCTRL           &kp LSHFT           U_NA                &kp SLCK            &kp F4              &kp F5              &kp F6              &kp F11             \
U_NA                &kp RALT            U_NA                U_NA                U_NA                &kp PAUSE_BREAK     &kp F1              &kp F2              &kp F3              &kp F10             \
U_NP                U_NP                U_NA                U_NA                U_NA                &kp TAB             &kp SPC             &kp K_APP           U_NP                U_NP



*/